name: Docker CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/cicd-day4:latest .

      - name: Push image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/cicd-day4:latest

      - name: Run container locally
        run: |
          docker stop cicd-container || true
          docker rm cicd-container || true
          docker run -d --name cicd-container -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/cicd-day4:latest
